doctype html(lang='en')
head
    title Member Login Page
body
h1 Member Login
if (errMsg !== "") 
    h3= errMsg
|   
form#sign-in(action='/', method='POST')
    label Username:
    |     
    input#inputUser(type='text', name='inputUser')
    |     
    br
    |     
    label Password:
    |     
    input#inputPass(type='text', name='inputPass')
    |     
    br
    |     
    button(type='submit') Submit
    |     
p Not a member yet?
a.signUp-link(href='#') Sign-up here!
// Will display after clicking Sign-up
.sign-up-area(style='display:none')
    hr
    |       
    h2 Member Sign-up
    |       
    form#sign-up(action='/signup', method='POST')
        label Username:
        |         
        input#inputUser-signUp(type='text', name='inputUserSignUp')
        |         
        br
        |         
        label Password:
        |         
        input#inputPass-signUp(type='text', name='inputPassSignUp')
        |         
        br
        |         
        button.signUped-btn(type='submit') Submit
    |     

    |   
    script.
      const signUpContent = document.querySelector(".sign-up-area");
      const signUpLink = document.querySelector(".signUp-link");
      const signUpBtn = document.querySelector(".signUped-btn");
      signUpLink.addEventListener("click", () => {
      signUpContent.style.display = "block";
      })
      signUpBtn.addEventListener("click", () => {
      signUpContent.style.display = "none";
      })
